body {
  font-family: 'Roboto', sans-serif;
}

#title {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#poster {
  display: block;
  margin: auto;
}
